<app-top-section [topHeader]="'Help'" [path]="'Home'" [current]="'Help'"></app-top-section>
<div class="help-section my-5 py-5">
  <div class="container d-flex flex-column justify-content-center align-items-center gap-4">
    <h1 class="fw-semibold">Need Help ?</h1>
    <p class="main-pragh text-center">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <div class="row w-100 my-5 justify-content-center align-items-center">
      <div class="col-md-6 d-flex flex-column align-items-center card text-center mb-5">
        <img src="assets/imgs/mail.png" class="mb-4" alt="envelope icon" />
        <p class="fw-bold fs-5">Send Email</p>
      </div>
      <div class="col-md-6 ms-5 d-flex flex-column align-items-center  card text-center mb-5">
        <img src="assets/imgs/call.png" class="mb-4" alt="call icon" />
        <div class="call-content">
          <p class="fw-bold fs-5 mb-0">Call Us</p>
          <p class="text-main-light mt-0">000000</p>
        </div>
      </div>
    </div>
  </div>
</div>