.help-section{
    .container{
        // width: 50%;
    }
    .card{
        width: 180px;
        height: 208.79px;
    }
    img{
        width: 60%;
    }
    .main-pragh{
        font-size: 20px;
        width: 40%;
    }
}