.payment-details {
  padding-top: 40px;

  h2 {
    font-size: 25px;
    line-height: 37.5px;
    font-weight: 600;
  }

  .card {
    background-color: #ffffff;
    border: none;
    color: #24221e;
    font-size: 16px;
    font-weight: 500;
    .card-title {
      border-radius: 8px 8px 0px 0px;
    }
    .card-cont {
      color: #4b4a47;
      font-weight: 400;
    }
  }
}
