.footer-container {
  padding: 50px 96px 0px 96px;
  text-align: center;
  color: #f3eded;

  .footer-content {
    margin-bottom: 30px;

    h2 {
      font-size: 32px;
      line-height: 48px;
      font-weight: 600;
    }

    p {
      margin: 15px 0;
      font-size: 16px;
      line-height: 28.8px;
      font-weight: 300;

      span {
        font-weight: 500;
      }
    }

    h3 {
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      line-height: 24px;
      font-weight: 700;
    }

    a {
      color: #ffffff;
      text-decoration: none;
      border-bottom: 1px solid #FBFBFB;
      padding: 0;

    }
  }

  .footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 400;
    padding: 16px 0px 16px 0px;

    p {
      margin: 0;
    }
  }

}