<div class="headerBackground">
  <div class="header-container container">
    <div class="row justify-content-between">
      <div class="content col-lg-6 col-md-12 col-sm-12">
        <h1>Simple. Quick. Secure.</h1>
        <h2>Send Money Anywhere, Instantly</h2>
        <p>
          Fast, secure, and affordable international money transfers. Get
          started in minutes.
        </p>
        <button class="">Create An Account dummy</button>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 w-auto">
        <div class="send-money-box mt-4">
          <label for="amount">Send Amount</label>
          <input type="number" id="amount" placeholder="1000" />
          <p>Delivery Time: <span>By May 20th</span></p>
          <button>Continue dummy btn</button>
          <p class="terms">
            By Clicking Continue, I'm agree with
            <a class="text-light-main-color" href="#">Terms & Policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
