<div class="headerBackground">
  <div class="header-container container">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="content">
          <h1>Simple. Quick. Secure.</h1>
          <h2>Send Money Anywhere, Instantly</h2>
          <p>
            Fast, secure, and affordable international money transfers. Get
            started in minutes.
          </p>
          <app-btn
            [label]="'Create An Account'"
            routerLink="/register"
            [ngClass]="{ hidden: _Nav.isLoggedIn() }"
          ></app-btn>
          <app-btn
            [label]="'Transfer Now'"
            routerLink="/transferMoney"
            [ngClass]="{ hidden: !_Nav.isLoggedIn() }"
          ></app-btn>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 w-auto">
        <div class="send-money-box card mt-4">
          <div
            class="balance-box bg-pink px-3 py-1 rounded-3 mb-3"
            [ngClass]="{ hidden: !_Nav.isLoggedIn() }"
          >
            <p class="text-main-dark">Current Balance</p>
            <h2 class="text-main-light fw-semibold">10000EGP</h2>
          </div>
          <label for="amount">Send Amount</label>
          <input type="number" id="amount" placeholder="1000" />
          <p class="delivery-time">Delivery Time: <span>By May 20th</span></p>
          <app-btn [label]="'Continue'" [largeBtn]="true"></app-btn>
          <p class="terms mt-4 mb-0">
            By Clicking Continue, I'm agree with
            <a class="text-light-main-color" href="#">Terms & Policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
