@if (formName.get(inputName)?.errors
&&(formName.get(inputName)?.touched||formName.get(inputName)?.dirty)){
<div class="text-danger">
  <ul class="m-0 list-unstyled">
    @if (formName.get(inputName)?.getError('required')) {
    <li>Input is required</li>
    } @if (formName.get(inputName)?.getError('minlength')) {
    <li>Input must be at least 2 character long.</li>
    } @if (formName.get(inputName)?.getError('maxlength')) {
    <li>Input must not exceed 20 characters.</li>
    } @if (formName.get(inputName)?.getError('email')) {
    <li>Please enter a valid email address</li>
    } @if (formName.get(inputName)?.getError('pattern')) {
    <li>Custom field should match the pattern</li>
    } @if (formName.get(inputName)?.getError('min')) {
    <li>Input must be greater than 0</li>

    }
  </ul>
</div>
}@else if (formName.getError('mismatch') && formName.get(inputName)?.touched
&&inputName=='confirmPassw') {
<div class="text-danger">
  <ul class="m-0 list-unstyled">
    <li>Password does not match</li>
  </ul>
</div>
}
