.list-part {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 560px;
}

.list-part h6 {
  font-size: 18px;
  font-weight: 600;
}

.list-part .downloadText {
  font-weight: 600;
  font-size: 40px;
}

.list-part span {
  font-weight: 500;
  font-size: 16px;
}

.list-part li {
  padding: 0 0 1px 0;
  margin-top: 20px;
  display: flex;
  gap: 12px;

}

.list-part .arrow {
  border-radius: 13px;
  width: 26px;
  height: 26px;
  padding: 4px;

}

.list-part li span {
  font-size: 16px;
  font-weight: 600;
  padding-left: 8px;
}

.app-links {
  height: 51.66px;
  width: 316.65px;
  display: flex;
  gap: 17.61px;
}

.list-part .app-links img {
  height: 100%;
}