<div class="bg-pink">
  <div class="container py-5">
    <div class="row gx-5">
      <div class="col-md-12 col-sm-12 col-lg-6">
        <div class="app-store-img h-100 px-2">
          <img class="rounded-3 w-100 h-100" src="/assets/imgs/mobAPPsecI.png" />
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-6 py-2">
        <div class="list-part">
          <h6 class="text-main-light">Mobile Application</h6>
          <p class="downloadText fw-semibold">
            Download our apps of your mobile phone for service
          </p>
          <span class="text-gray">Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy</span>
          <ul style="list-style: none" class="p-0 my-3">
            <li>
              <div
                class="arrow d-flex justify-content-center align-items-center text-main-light border-main-light rounded-circle">
                <i class="fa-solid fa-arrow-right fa-xs"></i>
              </div>
              <span class="sub-header-font text-gray">Lorem Ipsum is simply dummy</span>
            </li>
            <li>
              <label
                class="arrow d-flex justify-content-center align-items-center text-main-light border-main-light rounded-circle"><i
                  class="fa-solid fa-arrow-right fa-xs"></i></label>
              <span class="sub-header-font text-gray"> Lorem Ipsum is simply dummy text of the printing </span>
            </li>
            <li>
              <label
                class="arrow d-flex justify-content-center align-items-center text-main-light border-main-light rounded-circle"><i
                  class="fa-solid fa-arrow-right fa-xs"></i></label>
              <span class="sub-header-font text-gray"> Lorem Ipsum is simply </span>
            </li>
            <li class="app-links">
              <a href="#">
                <img class="rounded" src="/assets/imgs/apple.png" /></a>
              <a href="#">
                <img class="rounded" src="/assets/imgs/android.png" /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>