<app-top-section
  topHeader="My Account"
  path="Home"
  current="My Account"
></app-top-section>
<div class="profile-container container">
  <div class="profile-sidebar">
    <ul>
      <li><a href="#">My Profile</a></li>
      <li><a href="#">Payments History</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Change Password</a></li>
    </ul>
  </div>

  <div class="profile-content">
    <!-- <app-my-profile></app-my-profile> -->
    <app-payment-history></app-payment-history>
  </div>
</div>
<app-mobile-app-section></app-mobile-app-section>
<app-main-footer></app-main-footer>
