<app-top-section
  topHeader="My Account"
  path="Home"
  current="My Account"
></app-top-section>
<div class="profile-container container">
  <div class="profile-sidebar">
    <ul class="navbar-nav ms-auto mb-2 me-4 mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          aria-current="page"
          routerLink="myprofile"
          routerLinkActive="active"
          >My Profile</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="payment" routerLinkActive="active"
          >Payments History</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="setting/profile"
          routerLinkActive="active"
          >Settings</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="setting/changePassword"
          routerLinkActive="active"
          >Change Password</a
        >
      </li>
    </ul>
  </div>

  <div class="profile-content">
    <router-outlet></router-outlet>
    <!-- <app-user-profile></app-user-profile> -->
    <!-- <app-payment></app-payment> -->
    <!-- <app-setting></app-setting> -->
    <!-- <app-change-password></app-change-password> -->
  </div>
</div>
<app-mobile-app-section></app-mobile-app-section>
<app-main-footer></app-main-footer>
