<div class="steps-container">
  <div class="container-lg">
    <div class="header m-auto">
      <h1 class="text-light-main-color">Getting Started</h1>

      <h2>Lorem Ipsum is simply dummy text of the printing.</h2>
    </div>

    <div class="steps row">
      <div class="col-md-12 col-sm-12 col-lg-4">
        <div class="step p-4 mb-3">
          <img src="assets/imgs/createAcc.png" class="mb-5" alt="Create Account" />
          <h3><span>1.</span>Create Account</h3>
          <p>
            Adipiscing elild neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>

      <div class="col-md-12 col-sm-12 col-lg-4">
        <div class="step p-4 mb-3">
          <img src="assets/imgs/confirm.png" class="mb-5" alt="Confirmation" />
          <h3><span>2.</span>Confirmation</h3>
          <p>
            Adipiscing elild neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-4">
        <div class="step p-4 mb-3">
          <img src="assets/imgs/payment.png" class="mb-5" alt="Payment" />
          <h3><span>3.</span>Payment</h3>
          <p>
            Adipiscing elild neque mi diam nim etus arcu porta viverra pretium
            auctor ut nam sed.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
