<div class="profile-details">
  <h2>My Profile</h2>
  <h1>{{balance}}EGP<span class="text-main-dark bal"> Balance</span></h1>
  <div class="w-50">
    <div class="row list-row">
      <div class="col-lg-3 col-sm-12">First Name:</div>
      <div class="col col-style">{{name}}</div>
    </div>
    <div class="row list-row">
      <div class="col-lg-3 col-sm-12">Email:</div>
      <div class="col col-style">{{email}}</div>
    </div>
    <div class="row list-row">
      <div class="col-lg-3 col-sm-12">Phone:</div>
      <div class="col col-style">{{phoneNum}}</div>
    </div>
    <div class="row list-row">
      <div class="col-lg-3 col-sm-12">Gender:</div>
      <div class="col col-style">{{gender}}</div>
    </div>
  </div>
</div>
