<div class="profile-details">
  <h2>My Profile</h2>
  <h1>10000EGP<span class="text-main-dark bal"> Balance</span></h1>
  <!-- <ul>
    <li>
      First name:
      <span>Jonathon Smith</span>
    </li>
    <li>
      Email:
      <span>jhonathonsmith&#64;gmail.com</span>
    </li>
    <li>
      Phone:
      <span>Jonathon Smith</span>
      +880125412624
    </li>
    <li>
      Gender:
      <span>Jonathon Smith</span>
      Male
    </li>
  </ul> -->
  <div class="w-50">
    <div class="row list-row">
      <div class="col-lg-3 col-sm-12">First Name:</div>
      <div class="col col-style">Jonathon</div>
    </div>
    <div class="row list-row">
      <div class="col-lg-3 col-sm-12">Email:</div>
      <div class="col col-style">jhonathonsmith&#64;gmail.com</div>
    </div>
    <div class="row list-row">
      <div class="col-lg-3 col-sm-12">Phone:</div>
      <div class="col col-style">+880125412624</div>
    </div>
    <div class="row list-row">
      <div class="col-lg-3 col-sm-12">Gender:</div>
      <div class="col col-style">Male</div>
    </div>
  </div>
</div>
