<div class="header">
  <div class="container d-flex justify-content-between align-items-center py-5">
    <h1 class="fw-semibold fs-2">Speedo Transfer</h1>
    <a routerLink="/home" class="text-black"
      ><svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.51562 22.4876L12.0016 12.0016L22.4876 22.4876M22.4876 1.51562L11.9996 12.0016L1.51562 1.51562"
          stroke="#24221E"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </div>
</div>
<div
  class="login d-flex flex-column gap-3 justify-content-center align-items-center"
>
  <h2 class="fw-semibold">Login</h2>
  <p class="text-muted">
    New Account?
    <a class="text-decoration-underline text-muted" routerLink="/register"
      >Sign Up</a
    >
  </p>
  <div class="card p-5">
    <h3 class="mb-4 fw-semibold">Login here</h3>
    <p class="text-muted">Welcome back.Login to your account</p>
    <form [formGroup]="loginForm" (ngSubmit)="sendData()">
      <label for="" class="my-3 fs-6">Your email address</label>
      <input
        type="email"
        placeholder="Email@gmail.com"
        formControlName="email"
      />
      <app-form-alert
        [formName]="loginForm"
        [inputName]="'email'"
      ></app-form-alert>

      <label for="" class="my-3 fs-6">Password </label>
      <input
        type="password"
        placeholder="*********"
        formControlName="password"
      />
      <app-form-alert
        [formName]="loginForm"
        [inputName]="'password'"
      ></app-form-alert>
      <div class="register-btn mt-4">
        <app-btn [label]="'Login'" [largeBtn]="true"></app-btn>
      </div>
      <p class="text-muted mt-3">
        Don't have an account?
        <a
          class="text-decoration-underline text-main-light cursor-pointer"
          routerLink="/register"
        >
          Create Account</a
        >
      </p>
    </form>
  </div>
</div>
<app-auth-footer></app-auth-footer>
