.header {
  .container {
    width: 85%;
  }
}
.login {
  .card {
    width: 40%;
    margin-bottom: 200px;
  }
  a:hover {
    text-decoration: none !important;
  }
}

@media  (max-width:767px) {
  .card {
    width: 75% !important;
  }
}

@media (min-width:768px) and (max-width:1100px) {
  .card {
    width: 58% !important;
  }
}
