.amount-sec {
    width: 37%;
    color: #24221E;

    .recipient-info {
        span {
            line-height: 30px;
        }
    }

}


.modal-dialog {
    max-width: 40%;
    margin: auto;

    .modal-content {
        border-radius: 8px;
        padding: 40px 30px;
        font-weight: 400;

        .modal-header {
            border-bottom: none;
        }

        .modal-body {
            margin-top: 20px;

            .favorite-item {
                background-color: #f6f6f6;
                padding: 16px;
                border-radius: 8px;
                margin-bottom: 15px;

                .bankk-icon {
                    font-size: 1px;
                    border-radius: 100%;
                }

                .fav-name {
                    font-size: 20px;
                    font-weight: 600;
                }

                .fav-number {
                    color: #898886;
                    font-weight: 400;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .amount-sec {
        width: 100%;
    }

    .modal-dialog {
        max-width: 90%;
    }
}

@media (min-width: 575.98px) and (max-width: 990px) {
    .amount-sec {
        width: 70%
    }

    .modal-dialog {
        max-width: 65%;
    }
}

@media (min-width: 990px) and (max-width: 1400px) {
    .amount-sec {
        width: 50%
    }

    .modal-dialog {
        max-width: 45%;
    }
}