<form [formGroup]="updateForm" (ngSubmit)="sendData()" class="mt-3 w-75">
  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input
      type="text"
      id="fullName"
      formControlName="name"
      placeholder="Jonathon Smith"
    />
    <app-form-alert
      [formName]="updateForm"
      [inputName]="'fullName'"
    ></app-form-alert>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input
      type="text"
      id="country"
      formControlName="country"
      placeholder="UK"
    />
  </div>
  <div class="row mb-4">
    <div class="form-group col-6">
      <label for="phone">Phone</label>
      <input
        type="tel"
        id="phone"
        formControlName="phoneNumber"
        placeholder="+880125412624"
      />
    </div>
    <div class="form-group col-6">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="jhonathonsmith@gmail.com"
      />
      <app-form-alert
        [formName]="updateForm"
        [inputName]="'email'"
      ></app-form-alert>
    </div>
  </div>
  <app-btn [label]="'Update Profile'" [largeBtn]="false"></app-btn>
</form>