<div class="container">
  <div class="steps d-flex justify-content-center align-items-center">
    <div
      class="row step-container active-step d-flex flex-column gap-4 align-items-center"
      routerLink="Amount"
      routerLinkActive="active-step"
    >
      <div class="contain-title d-flex align-items-center">
        <div
          class="step first-step col-md-6 mx-2"
          routerLinkActive="active-step"
        >
          01
        </div>
        <div class="step-line first-step-line col-md-6"></div>
      </div>
      <span routerLinkActive="active-step-title" class="text-black"
        >Amount</span
      >
    </div>
    <div
      class="row step-container active-step d-flex flex-column gap-4 align-items-center"
    >
      <div
        class="contain-title d-flex align-items-center"
        routerLinkActive="active-step"
      >
        <div
          class="step col-md-6 mx-2 second-step"
          routerLinkActive="active-step"
        >
          02
        </div>
        <div class="step-line col-md-6 first-step-line"></div>
      </div>
      <span routerLinkActive="active-step-title" class="text-black"
        >Confirmation</span
      >
    </div>
    <div
      class="row step-container active-step d-flex flex-column gap-4 align-items-center"
    >
      <div
        class="contain-title d-flex mx-2 align-items-center gap-3"
        routerLinkActive="active-step"
      >
        <div class="step col-md-6 second-step" routerLinkActive="active-step">
          03
        </div>
      </div>
      <span routerLinkActive="active-step-title" class="text-black"
        >Payment</span
      >
    </div>
  </div>
  <div
    class="payment d-flex flex-column justify-content-center align-items-center"
  >
    <div class="correct-icon mb-4">
      <img src="assets/imgs/correct.svg" alt="correct icon" />
    </div>
    <div class="content text-center mb-3">
      <h2 class="fw-semibold transfer-succ">Your transfer was successful</h2>
      <h1 class="display-4 fw-semibold mt-4 transfer-am">
        {{amount}} <span class="text-main-light"> EGP</span>
      </h1>
    </div>

    <div class="account-card">
      <div class="d-flex gap-md-4 gap-sm-1 align-items-center">
        <div class="bank-icon bg-gray-light p-2">
          <img src="assets/imgs/bank.png" alt="bank icon" />
        </div>
        <div>
          <div class="from-label text-light-main-color">From</div>
          <div class="account-name my-3">Jonathon Smith</div>
          <div class="account-number">Account xxxx7890</div>
        </div>
      </div>
    </div>
    <!-- Switch Icon -->
    <div class="d-flex justify-content-center my-3">
      <img src="assets/imgs/transfer.png" alt="switch icon" />
    </div>
    <div class="account-card">
      <div class="d-flex gap-md-4 gap-sm-1 align-items-center">
        <div class="bank-icon bg-gray-light p-2">
          <img src="assets/imgs/bank.png" alt="bank icon" />
        </div>
        <div>
          <div class="from-label text-light-main-color">From</div>
          <div class="account-name my-3">{{recipientName}}</div>
          <div class="account-number">Account {{recipientAcc}}</div>
        </div>
      </div>
    </div>

    <div class="amount-details w-100 mt-3">
      <div>Transfer amount</div>
      <div>{{amount}} EGP</div>
    </div>
    <div class="buttons w-100 d-flex flex-column gap-4">
      <app-btn
        [largeBtn]="true"
        [label]="'Back to Home'"
        routerLink="/home"
      ></app-btn>

      <app-btn
        [largeBtn]="true"
        [outline]="true"
        [label]="'Add To Favourite'"
        (click)="addToFav()"
      ></app-btn>
    </div>
  </div>
</div>
