.header{
    .container{
        width: 85%;
    }
}
.signup{
    .card{
        width: 42%;
        margin-bottom: 200px;
        form{
            a:hover{
                text-decoration: none !important;
            }
        }
    }
}