.header {
  .container {
    width: 85%;
  }
}
.signup {
  .card {
    width: 40%;
    margin-bottom: 100px;
    form {
      .month-input {
        width: 80%;
      }
      .year-input {
        width: 50%;
      }
      a:hover {
        text-decoration: none !important;
      }
    }
    > p {
      font-size: 15px;
    }
  }

  .custom-select {
    position: relative;
  }

  .custom-select select {
    appearance: none;
  }

  .custom-select select option {
    padding: 10px;
  }

  .dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #ccc;
  }
}

@media (max-width: 767px) {
  .card {
    width: 75% !important;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .card {
    width: 58% !important;
  }
}
