/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primary-color: #F3E9EB;
$main-dark-color: #521220;
$main-light-color: #871E35;
$gray-color: #3C3A37;
$gray-light: #E3E2E2;

body {
    font-family: "Inter", sans-serif;
}

.bg-main {
    background-color: $main-dark-color;
}

.bg-main-light {
    background-color: $main-light-color;

}

.bg-pink {
    background-color: $primary-color;
}

.text-main-light,
.active {
    color: $main-light-color !important;
}

.text-pink {
    color: $primary-color;
}

.border-main-light {
    border: 2px solid $main-light-color;
}

.border-gray {
    border: 2px solid $gray-color;
}

.sub-header-font {
    font-family: "Poppins", sans-serif;
}

.text-gray {
    color: $gray-color;
}

.bg-gray {
    background-color: $gray-color;
}

.bg-gray-light {
    background-color: $gray-light;
}