<app-top-section
  [topHeader]="'Money Transfer'"
  [path]="'Home'"
  [subPath]="'Money Transfer'"
  [current]="activeLink"
></app-top-section>

<section class="transfer-sec my-5 pb-5">
  <div class="container">
    <!-- <div class="steps d-flex justify-content-center align-items-center">
      <div
        class="row step-container active-step d-flex flex-column gap-4 align-items-center"
        routerLink="Amount"
        routerLinkActive="active-step"
      >
        <div class="contain-title d-flex align-items-center">
          <div
            class="step first-step col-md-6 mx-2"
            routerLinkActive="active-step"
          >
            01
          </div>
          <div class="step-line first-step-line col-md-6"></div>
        </div>
        <span routerLinkActive="active-step-title">Amount</span>
      </div>
      <div
        class="row step-container active-step d-flex flex-column gap-4 align-items-center"
      >
        <div
          class="contain-title d-flex align-items-center"
          routerLinkActive="active-step"

        >
          <div class="step col-md-6 mx-2" routerLinkActive="active-step">
            02
          </div>
          <div class="step-line col-md-6"></div>
        </div>
        <span routerLinkActive="active-step-title">Confirmation</span>
      </div>
      <div
        class="row step-container active-step d-flex flex-column gap-4 align-items-center"
      >
        <div
          class="contain-title d-flex mx-2 align-items-center gap-3"
          routerLinkActive="active-step"
        >
          <div class="step col-md-6" routerLinkActive="active-step">03</div>
        </div>
        <span routerLinkActive="active-step-title">Payment</span>
      </div>
    </div> -->
    <div class="transfer-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
<app-mobile-app-section></app-mobile-app-section>
<app-main-footer></app-main-footer>
