$primary-gray: #898886;

.steps {
  width: 25%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid $primary-gray;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: $primary-gray;
}



.step-container {
  cursor: pointer;

  span {
    color: #908a81;
    font-weight: 500;
    margin-inline: 17px;
  }
}

.step-line {
  height: 2px;
  width: 54px;
  background-color: $primary-gray;
}

.active-step,
.first-step {
  border-color: #871E35;
  color: #871E35;

}

.first-step-line {
  background-color: #871E35;
}

.active-step-title {
  color: #24221E;
}

.transfer-container {
  width: 39%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 575.98px) {
  .transfer-container {
    width: 100%;
  }
}

@media (min-width: 575.98px) and (max-width: 650px) {
  .transfer-container {
    width: 90%;
  }
}

@media (min-width: 650px) and (max-width: 990px) {
  .transfer-container {
    width: 70%;
  }
}

@media (min-width: 990px) and (max-width: 1300px) {
  .transfer-container {
    width: 50%;
  }
}

@media (min-width: 1300px) and (max-width: 1400px) {
  .transfer-container {
    width: 40%;
  }
}